/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(#fa7257, #fc63a7);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .buttons-container {
    flex-direction: column;
  }
}
.button-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  color: #dd1264;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 10px;
}
.name-card {
  background-color: #fddddb;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: 'Roboto';
  margin: 10px;
}
